# Server Configuration
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/triveni
JWT_SECRET=triveni_sih_2026_super_secret_jwt_key_26043

# Client Configuration (Vite)
VITE_API_URL=http://localhost:5000/api
